/* Aplicando reset no css padrão */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* INICIO SIGNUP PAGE */
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left-side,
.right-side {
  width: 50%;
}

.left-side {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.form-container {
  width: 420px;
  padding: 24px 10px;
}

.form-container a {
  text-decoration: none;
  color: black;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"] {
  background-color: white;
  border: 1px solid #000;
  height: 48px;
  border-radius: 4px;
  margin-top: 16px;
  padding: 10px;
  width: 100%;
  color: #000;
  display: block;
}

input[type="submit"] {
  background-color: #0056fb;
  color: white;
  font-size: 16px;
}

input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="text"]::placeholder {
  color: #000;
}

input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus {
  border: 1px solid #000;
  outline: 0;
}

input[type="submit"],
input[type="password"] {
  margin-bottom: 16px;
}
.right-side {
  background-color: #0056fb;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-side h1,
p {
  color: white;
}
.right-side h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 50px;
}

.info img {
  width: 100%;
  object-fit: cover;
}

.info {
  max-width: 70%;
}

/* FIM SIGNUP PAGE */
