*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* inicio header */
.nav{
  background-color: #181818;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 28px;
}

.nav-list a {
  text-decoration: none;
  color: #DDD;
  padding: 20px;
}

.nav-list a:hover{
  color: #FFFFFF;
}

/* Fim do header */

